
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body bgColor ="cyan">
    <div>
        <h1>Home</h1>
        <table bgColor="skyBlue" , width="100%">
            <tr>
                <td> <a href="/Customer/Home"> Home </a></td>
                <td> <a href="/Customer/Login"> Login </a></td>
                <td> <a href="/Customer/Register"> Register </a></td>
            </tr>
        </table>
    </div>
</body>
</html>
