
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body bgColor="skyblue">
    <div> 
        <h1>Login</h1>
        <form action="/Customer/Validate" method="post"> <!--Posting data in the validate action -->
            <table>
                <tr>
                    <td> User Name </td>
                    <td><input name="userName" id="userName" type="email" /></td>
                    <!--"name" in the input tag should be same as parameter given to the action related to this form -->
                </tr>
                <tr>
                    <td> Password </td>
                    <td><input name="userPwd" id="userPwd" type="password" /></td>
                </tr>
                <tr>
                    <td><input id="Login" type="submit" value="Login"/> </td> <!-- Type reset is to invoke the action of this form -->
                    <td><input id="Cancel" type="reset" value="Cancel" /></td>
                </tr>

            </table>


        </form>
    </div>
</body>
</html>
