<!-- Razor code -->
@{
    Layout = null; // as we have no master page hence layout null
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body bgColor ="Aqua">
    <div> 
        <h1>Registration</h1>
    </div>
</body>
</html>
